@value makerGreen from '../common/colors.css';
.edit {
    flex-basis: 50%;
    background-color: wheat;

}
.body {
   
}

.title{
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    color: makerGreen;
}

